<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
</head>

{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
                <h1 class="section-heading mb-4">Servicios</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% for servicio in servicios %}

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ servicio.imagen.url }}" alt="" style="width: 40%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{servicio.titulo}}</span>
            <span class="section-heading-upper">{{servicio.contenido}}</span>
          </h2>
          <p style="text-align: left; font-size: x-small;">Creado el : {{servicio.created}}</p>
          <p style="text-align: left; font-size: x-small;">Actualizado el : {{servicio.updated}}</p>
        </div>
      </div>
    </div>
  </section>

  {% endfor %}

{% endblock %}